{% extends 'base.html' %}


{% block title %}Secret{% endblock %}


{% block page_body %}

    <div class="form-group">
        <h2>Matrix Update</h2>
	<br>

<table>
  <tr>
    <th>Company</th>
    <th>Update date</th>
    <th>Update</th>
  </tr>

  <form action="/update" method="post">
  {% for i in range(n) %}
    <tr>
      <td>{{ companies[i] }}</td>
      <td>{{ dates[i] }}</td>
      <td><input type="checkbox" name="update_it" value="{{ companies[i] }}"></td>
    </tr>
  {% endfor %}
  
</table>
    <br>
    <input type="submit" value="Submit">
  </form>
    </div>
{% endblock %}


